
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

@font-face {
    font-family: YoungSerif Regular;
    src: url(../assets/fonts/YoungSerif-Regular.otf);
}

:root {
    --white: #fff;
    --black: #000;
    --black-light: #1C1717;
    --green: #0dd08f;
    --red: #de0025;
    --blue: #00c8de;
    --blue-dark: #7FE3EE;

    --timing: cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes hoverimage {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      top: 0;
    }
  }

body {
    color: var(--black);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.4;
}

h1 {
    font-family: YoungSerif Regular;
    font-size: 31px;
    line-height: 1.2;
}

h2 {
    font-family: YoungSerif Regular;
    font-size: 21px;
    line-height: 1.2;
}

h3 {
    font-weight: 700;
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

.slide-in {
    opacity: 1;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

  .selected {
      color: var(--black);
      text-decoration: underline var(--white);
  }

  
/* mobile menu */

.mobile-wrapper {
    position: fixed;
    background-color: var(--blue);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.5s;
    top: -100%;
    z-index: 3;
}

.mobile-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.mobile-image {
    width: 70%;
    margin-bottom: 50px;
}

nav.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
}

nav.mobile a {
    color: var(--black);
    font-family: YoungSerif;
    font-size: 1.3em;
    text-decoration: underline var(--white);
    margin-bottom: 20px;

    transition: all 0.5s;
}

nav.mobile a:hover {
    transform: translateY(-2px);
    /* box-shadow: 0px 3px 2px rgba(43, 43, 43, 0.25); */
}

.hamburger {
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 

    width: 100%;

    z-index: 9;
    position: fixed;
}

.hamburger:focus {
    outline: none !important;
}

.hamburger:hover {
    opacity: 0.7; }   
     
.hamburger.is-active:hover {
    opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
      
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
        
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
        
.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block; }
        
.hamburger-inner::before {
    top: -10px; }
        
.hamburger-inner::after {
    bottom: -10px; }


/* Spring */

.hamburger--spring .hamburger-inner {
    top: 10px;
    transition: background-color 0s 0.13s linear; }

.hamburger--spring .hamburger-inner::before {
      top: 8px;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    
.hamburger--spring .hamburger-inner::after {
      top: 16px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important; }

.hamburger--spring.is-active .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--spring.is-active .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }
   
/*  */


  /*  header area  */

header {
    border-bottom: 1px solid var(--white);
}

header,
footer {
    position: fixed;
    background-color:var(--green);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    top: 0;
    left:0;
    z-index: 9;
}

footer {
    bottom: 0;
    top: auto;
    position: relative;
    border-top: 1px solid var(--white); 
}

header nav,
footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;

    max-width: 1680px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header nav a,
footer nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    transition: color 0.5s;
}

header nav a:hover,
footer nav a:hover {
    color: var(--black-light);
    text-decoration: underline var(--white);
}


.vfz {
    max-width: 452px;
}

.hero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;

    max-width: 1680px;
}


/* intro section */

.wrapper {
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.intro h1 {
    max-width: 452px;
    margin-bottom: 40px;
}

.logo-container {
    width: 50%;
    margin-right: 8%;

    animation: hoverimage 3s infinite;
    animation-timing-function: ease-in-out;

    z-index: 8;
}

.logo-container-mobile {
    position: fixed;
    padding: 10% 10% 0 10%;
    top: 0;
}

/* offer section */

.offer {
    display: flex;
    justify-content: center;
    background-color: var(--green);
}

ul {
    list-style: none;
}

.offer h2,
.faq-hero h3,
.contact-profile h2 {
    margin-bottom: 5%;
}

.offer li,
.faq-hero li,
.column-flex h1 {
    margin-bottom: 10%;
}

li:last-child {
    margin-bottom: 0;
}

.offer h2,
.offer li p {
    text-align: center;
}

.v {
    position: absolute;
}

.v1 {
    transform: translate(-50px,-10px);
    opacity: 1;
}

.v6 {
    background-image: url("../assets/images/vector-6.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 5%;
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.column-flex h1 {
    text-decoration: underline var(--red);
    max-width: 345px;
}

/* questions section */

#fragen {
    justify-content: center;
}

.faq-hero {
    display: flex;
    flex-direction: row;
}

.faq-hero ul {
    width: 50%;
    max-width: 470px;
}

ul.ul-translate {
    margin-left: 5%;
}

/* contact section */

#kontakt {
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.contact-profile {
    margin-right: 5%;
    text-align: center;
}

.contact-profile img {
    margin-bottom: 10%;
}

.contact-intro {
    max-width: 428px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.contact-intro h1 {
    text-decoration: underline var(--white);
    margin-bottom: 5%;
}


table {
    width: 352px;
}

.form tr {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.form td {
    margin-bottom: 2%;
}

label {
    font-weight: 700;
}

.form input,
textarea {
    background-color: var(--blue-dark);
    border: none;
    padding: 2%;
    font-size: 1.1em;

    transition: all 0.5s;
}

input[type="text"] {
    width: 100%;
}

input:focus,
textarea:focus {
    outline:none !important;
    background-color: var(--white);
}

input:hover,
textarea:hover {
    background-color: var(--white);
}

.form textarea {
    width: 100%;
}

input[type="submit"] {
    background-color: var(--black-light);
    color: var(--white);
    border: 2px solid var(--black-light);
    border-radius: 25px;
    padding: 8px 25px;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(43, 43, 43, 0.25);

    transition: all 0.5s;
}

input[type="submit"]:hover {
    transform: translateY(-4px);
    box-shadow: 0px 3px 2px rgba(43, 43, 43, 0.25);
    background-color: var(--black);
}





/* media queries */

@media(min-width: 681px) {
    .hamburger {
        display: none;
    }

    .mobile-wrapper {
        display: none;
    }

    .logo-container-mobile {
        position: relative !important;
        padding: 0 !important;
    }

    body {
        overflow: auto !important;
    }
}

@media(min-width: 1035px) {
    .hero {
        max-width: 998px;
        padding: 100px 80px;
    }
}

@media(min-width: 1330px) {
    .hero {
        max-width: 1180px;
    }
}

@media(min-width: 1580px) {
    .hero {
        max-width: 1320px;
        padding: 150px 50px;
    }

    #fragen {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}


@media(max-width: 1034px) {

    .hero {
        padding: 10%;
    }
    
    .wrapper {
        height: auto;
    }
    
    .intro-section {
        flex-direction: column;
        align-items: center;
    }

    .vfz {
        max-width: 660px;
    }

    .intro h1 {
        margin-right: auto;
        max-width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .intro div p {
        text-align: center;
    }

    .logo-container {
        margin: 5% auto 10% auto;
    }

    #fragen {
        flex-direction: column;
    }

    .column-flex {
        margin-right: 0;
    }

    .column-flex h1 {
        max-width: 532px;
        text-align: center;
        margin-bottom: 15%;
    }

    .column-flex img {
        display: none;
    }

    .faq-hero {
        max-width: 100%;
        justify-content: center;
    }

    .faq-hero ul-translate {
        margin-left: 0; 
    }

    #kontakt {
        flex-direction: column;
        margin-bottom: 0;
    }

    .contact-profile {
        margin-right: 0;
    }

    .contact-intro {
        margin-bottom: 10%;
    }

    td.button {
        text-align: center;
    }

    .faq-hero li {
        border-bottom: none;
        padding-bottom: 0; 
    }

}

@media(max-width: 680px) {
    
    header {
        display: none;
    }

    .offer,
    .faq-hero {
        flex-direction: column;
        align-items: center;
    }

    .column-flex h1 {
        max-width: 452px;
    }

    #fragen {
        text-align: center;
    }

    .faq-hero ul {
        width: 100%;
    }

    .v6,
    ul.ul-translate {
        margin-left: 0;
        margin-top: 10%;
    }

    .faq-hero li {
        border-bottom: 2px solid;
        padding-bottom: 30px; 
    }

    .ul-translate li:last-child {
        border-bottom: none;
        padding-bottom: 0; 
    }

    .logo-container {
        width: 70%;
    }

}    

@media(max-width: 550px) {
    .hero {
        padding: 20% 10%;
    }
    
    h1 {
        font-size: 1.4em;
    } 

    .logo-container {
        width: 100%;
        margin-bottom: 20%;
    }
}

